.usersCard {
  display: flex;
  align-items: center;
  margin: 15px 25px;
  padding: 10px;

  border: solid black 2px;
  border-radius: 20px;
  background-color: white;

  h1 {
    margin: 0 0 0 15px;
  }

  transition: transform, 0.3s;
  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 767px) {
  .usersCard {
    h1 {
      font-size: 20px;
    }
  }
}
