@import "../../scss/index.scss";

.basic-layout {
  h1 {
    color: $primary-black;
  }

  background-color: $primary-l;

  &__menu {
    background-color: $primary-black;

    display: flex;
    justify-content: flex-end;
  }

  &__content {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 !important;

    // border-left: 1px solid $primaryButton;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
