@import "../../../scss/index.scss";

.config-modal {
  .modal-content {
    background-color: $primary-black;
    border-radius: 20px;

    .modal-title {
      display: flex;
      justify-content: space-between;

      svg {
        color: $text-i1;
        font-size: 50px;
        background-color: $red;
        border-radius: 80px;

        transition: transnform, 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }

      h2 {
        color: $text-i1;
        margin: 10px 20px;
      }
    }
  }
}
