@import "../../scss/index.scss";

.left-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;

  margin: 0 2vw 0 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    cursor: pointer;
    color: $primaryButton;

    margin: 3vh 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
      font-size: 8vw;
      color: $primaryButton;
      transition: color, 0.5s;
    }

    h3 {
      font-size: 2vw;
      cursor: pointer;
    }

    transition: color, transform, 0.5s;
    &:hover {
      transform: scale(1.15);
      text-decoration: none;
      color: $primary-l;

      svg {
        font-size: 8vw;
        color: $primary-l;
      }
    }

    &:active {
      transform: scale(0.9);
      color: $primaryButton;

      svg {
        font-size: 8vw;
        color: $primaryButton;
      }
    }
  }

  a {
    color: $primary-l;
    font-size: 2vw;

    margin: 3vh 0;
    transition: transform, color, 0.5s;

    svg {
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $primaryButton;

      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (max-width: 767px) {
  .left-menu {
    height: 15vw;
    margin: 1px;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    &__logo {
      h3 {
        font-size: 3vw;
      }

      svg {
        font-size: 9vw;
      }
    }

    &__container {
      flex-direction: row;
      margin-left: 1vw;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        margin: 0 10px;
        font-size: 5vw;
      }
    }
  }
}
