@import "../../scss/index.scss";

.user {
  &__title {
    background-color: $primary-black;
    display: flex;
    justify-content: center;

    h2 {
      color: white;
      font-size: 4vw;
    }
    img {
      margin: 0 2vw;
    }
  }

  &__btns {
    button {
      transition: transfrom, 0.4s;
      position: absolute;
      top: 9vw;
      left: 60vw;

      font-size: 2vw;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__info {
    background-color: $primary-gray;
  }
}

@media screen and (max-width: 767px) {
  .user {
    &__title {
      h2 {
        font-size: 6vw;
      }
    }

    &__btns {
      button {
        font-size: 3vw;
        position: absolute;
        top: 14vw;
        left: 77%;
      }
    }
  }
}
