@import "../../scss/index.scss";

.sing-up-form {
  h1 {
    color: white;
    margin: 20px 0;
  }

  label {
    color: white;
    font-size: 20px;
  }

  button {
    margin: 20px 0;
    height: 70px;
    width: 100%;

    border-radius: 20px;
    font-size: 25px;
  }
}
